# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/.next-desktop/
/.n/
/out/
/dist/
/.cache/
/.open-next/
/.wrangler/
/.electron-cache/
/.next-dev/
/.next-win64/
.tmp-asar-check-*/
.tmp-asar-inspect*/
.tmp-electron-*/
.tmp-electron-*.log
.tmp-cdp-profile*/
/Desktop/win64/
/Desktop/Win Dev/
/Win-64/
*.asar
*.exe
*.zip

# production
/build
/build-metadata.json

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
desktop-build-debug.log
git-push-run.log
package-win-cmd.log
package-win-debug.log
push-all-remaining-local-state.log
push-remaining-local-changes.log

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
cloudflare-env.d.ts
